/*
 * WP Product Adder
 * http://MarketINTO.net
 *
 * Copyright 2013 MarketINTO
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Norbert Dreszer
 */
 

/* Product Archive */
.product-subcategories li {
display: inline-block;
list-style-type: none;
padding-bottom: 5px;
font-size: 0.9em;
}

.product-subcategories table {
border: none;
}
.product-subcategories table td {
border: none;
vertical-align: top;

}

.product-subcategories table td:first-child {
white-space: nowrap; }

#content .al_archive .product-attributes {
max-width: 120px;
position: absolute;
left: 5px;
bottom: 15px;
background-color: rgb(0,82,0);
background-color: rgba(0,82,0,0.8);
z-index: 0;
box-shadow: 0 0 5px #005200;
padding: 5px;
}

#content .al_archive .product-attributes table {
border: none;
font-size: 12px;
margin: 0;
line-height: 14px;
color: #fff;
box-shadow: none;
}

#content .al_archive .product-attributes table td {
border: none;
padding: 0;
}

#content .al_archive .product-attributes table tr {
background: transparent;
}

#content .al_archive .product-attributes table tr td:nth-child(2) {
text-align: center;
padding-left: 5px;
}
.al_archive .product-name {
background-color: rgba(0,82,0,0.8);
max-width: 80%;
box-shadow: 0 0 5px #005200;
padding: 5px;
position: absolute;
top: 10px;
left: 5px;
color: #fff;
font-weight: bold;
}

.al_archive .product-price {
position: absolute;
right: 10px;
bottom: 10px;
background-color: rgba(253,0,2,0.8);
max-width: 80%;
box-shadow: 0 0 5px #fff;
padding: 5px;
border:none;
font-size: 1.6em;
color: #fff;
}

.archive .al_product .entry-header {
margin-bottom: 0px;
}

.al_archive {
max-width: 44%;
min-width: 262px;
min-height: 170px;
background-size: 100% auto;
box-shadow: 0 0 5px #005200;
position: relative;
cursor: pointer;
float:left;
width: 100%;
margin: 5px 25px 25px 5px;
line-height: 1.5;
}

.archive article.al_product {
padding: 0px;
}

.al_archive:hover {
opacity: 0.9;
}

.al_archive:active {
transform: scale(0.97);
-webkit-transform:scale(0.97); 
-moz-transform:scale(0.97); 
-o-transform:scale(0.97); 
-ms-transform:scale(0.97); 
}

.post-type-archive-al_product .site-content article {
border: none;
}

.single-al_product .site-content .hentry.has-post-thumbnail {
margin-top: 0 !important;
}
/* Product Page */
.product-details table {
vertical-align: middle;
margin: 0px;
border: none;
}

.product-details table  td {
border: none;
padding: 0px;
}

.price-value {
font-size: 30px;
color: rgb(253, 0, 2);
}

.product-details  {
vertical-align: middle;
display: table-cell;
width: 50%;
height: 135px;
}

.price-column {
width: 30%;
}

.al_product .details-thumbnail {
min-height: 135px;
}
.al_product img.wp-post-image {
    height: auto;
    max-width: 50%;
	float:right;
	}

	.product-details .shortdesc {
padding-right: 20px;
}

/* Product Settings Page */
.tab-menu {
border-bottom: 2px solid #000000;
padding: 0px !important;
position: relative;
z-index: 1;
}
.tab-menu a {
color: #000000;
border-top: 1px solid #000000;
border-left: 1px solid #000000;
border-right: 1px solid #000000;
padding: 10px;
text-decoration: none;
background-color: #ededed;
display:inline-block;
position: relative;
top: 2px;
z-index: 0;

}

.tab-menu a.current {
color: #000000;
background-color: #ffffff;
/* border-top: 1px solid #d54e21;
border-left: 1px solid #d54e21;
border-right: 1px solid #d54e21;*/
border-bottom: 2px solid #ffffff; 
z-index:2;
}
.warning {
background-color: #fefccb;
background-image: url('images/warning.png');
}

.al-box.info {
background-color: #dbecff;
background-image: url('images/info.png');
}

.al-box {
background-repeat: no-repeat;
background-position: 1%;
padding: 10px 10px 10px 60px;
font-weight: bold;
margin: 10px 0 10px 0;
position: relative;
display: block;
width: 100%;
min-width: 300px;
max-width: 509px;
}

#product_listing_url {
width: 100px;
}

.admin-media-image {
max-width: 150px;
}

.plugin-logo {
position: absolute;
right: 0px;
bottom:25px;
z-index: 9999;
}

#admin-number-field {
width: 50px;
}

.product-settings-table {
width: auto;
}

.product-settings-table th {
padding: 7px 19px 8px;
}

.product-settings-table td {
text-align: center;
}

.lp-column {
vertical-align: middle !important;
}

.sort-placeholder {
background-color: #bbffbb;
height: 46px;
}
.sort-settings-placeholder {
background-color: #bbffbb;
height: 30px;
}

th.title {
max-width: 100px;
text-align: center;
}

.product-settings-table .ui-sortable, .sort-settings .ui-sortable {
cursor: move;
}

/* Product Edit Page */
.shipping-label {
width: 100%;
}

.shipping-value {
width: 100%;
}

.shipping-label-column {
width: 66%;
}
.shipping-value {
width: 60%;
margin-right: 3px;
}

.attribute-value, .attribute-unit {
width: 85%;
}

.attributes-label-column {
width: 50%;
}
.attribute-label {
width: 100%;
}

#al_product_desc_editor_ifr, #al_product_shortdesc_editor_ifr, #wp-al_product_shortdesc_editor-editor-container {
background-color: #ffffff;
}

.post-php .al-box, .post-new-php .al-box {
min-width: 187px;
max-width: 256px;
width: 74%;
font-weight: normal;
}

#page {
background-image: url('/wp-content/uploads/2013/12/Btlo6.png');
background-repeat: repeat-y;
background-position: 100% 0%;
}

/*WP MENU*/
.branch-3-8 #menu-posts-al_product div.wp-menu-image:before {
content: "\f174" !important;
}
